<!DOCTYPE html>
<html lang="en">
  <head ng-app="app">
    <title>Mean Music</title>
    <!--========== bower_components STYLES ==========-->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" type="text/css" />
    <!--========== bower_components SCRIPTS ==========-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="bower_components/lodash/lodash.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap-slider/slider.js"></script>
    <script type="text/javascript" src="bower_components/ng-flow/dist/ng-flow-standalone.js"></script>
    <!--========== STYLES ==========-->
    <link rel="stylesheet" href="css/cyborg.css" type="text/css" />
    <link rel="stylesheet" href="css/slider.css" type="text/css" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <!--========== SCRIPTS ==========-->
    
    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/app.routes.js"></script>
    
    <!-- ----- Shared -->
    <script type="text/javascript" src="app/shared/factories.js"></script>
    <script type="text/javascript" src="app/shared/services.js"></script>
    <script type="text/javascript" src="app/shared/filters.js"></script>
    
    <!-- ----- User -->
    <script type="text/javascript" src="app/components/user/user-services.js"></script>
    <script type="text/javascript" src="app/components/user/user-directives.js"></script>
    <script type="text/javascript" src="app/components/user/user-controllers.js"></script>
    
    <!-- ----- Player -->
    <script type="text/javascript" src="app/components/player/player-services.js"></script>
    <script type="text/javascript" src="app/components/player/player-controllers.js"></script>
    
    <!-- ----- Artist -->
    <script type="text/javascript" src="app/components/artist/artist-services.js"></script>
    <script type="text/javascript" src="app/components/artist/artist-directives.js"></script>
    <script type="text/javascript" src="app/components/artist/artist-controllers.js"></script>
    
    <!-- ----- Album -->
    <script type="text/javascript" src="app/components/album/album-services.js"></script>
    <script type="text/javascript" src="app/components/album/album-controllers.js"></script>

  </head>
  <body>
    <main>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="img/mean-music-logo_24x24.png">
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <div style="padding:20px;" ng-controller="NavSearchCtrl">
              <form class="form-search form-inline" ng-submit="submit()">
                <div class="input-append">
                  <input type="text" class="search-query" placeholder="Search..." ng-model="query"/>
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </form>
            </div>
            <ul class="nav navbar-nav navbar-right" ng-controller="AuthCtrl">
              <li>
                  <a href="" ng-hide="isAuthenticated" ng-click="showModal()"><i class="fa fa-sign-in"></i> Log In</a></li>
              <li ng-show="isAuthenticated">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> User<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#" ng-click="signOut()"><i class="fa fa-sign-out"></i>Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </main>
    <footer class="navbar navbar-inverse navbar-fixed-bottom" 
            ng-controller="PlayerCtrl">
      <div class="container-fluid">
        <table class="table player-table">
          <tr class="active">
            <td class="col-xs-1 text-center player-long-group player-cell">
              <button class="btn btn-default player-btn"><i class="fa fa-fast-backward"></i></button>
              <button class="btn btn btn-default player-btn btn-lg" 
                      ng-click="togglePlaying()">
                <i  class="fa" 
                    ng-class="{ 'fa-play fa-lg': audio.paused, 'fa-pause fa-lg': !audio.paused }"></i>
                </button>
                <button class="btn btn-default player-btn"><i class="fa fa-fast-forward"></i></button>
            </td>
            <td class="small player-cell">{{audio.currentTime || 0 | time}}</td>
            <td class="col-xs-9 player-cell">
              <slider ng-model="time"
                      min="0"
                      max="1000" 
                      slider-tooltip="hide" 
                      on-start-slide="startSeeking()" 
                      on-stop-slide="stopSeeking()">
              </slider>  
            </td>
            <td class="small player-cell">{{audio.duration || 0 | time}}</td>
            <td class="player-cell"><i class="fa fa-volume-up"></i></td>
            <td class="col-xs-2 player-cell player-short-group">
              <slider ng-model="volume"
                      min="0"
                      max="100" 
                      slider-tooltip="hide" 
                      on-start-slide="startSeeking()" 
                      on-stop-slide="stopSeeking()">
              </slider>
            </td>
          </tr>
        </table>
      </div>
    </footer>
  </body>
</html>
