.player-btn {
  min-width: 38px;
  border-radius: 50%;
  background: transparent;
  color: #aaa;
  border: none;
}
.player-btn:hover {
  color: #fff;
}
.player-btn:focus {
  outline:0;
}

.player-table {
  margin-bottom: 0px;
  vertical-align: middle;
}

.player-short-group {
  width: 100px;
  min-width: 100px;
}

.player-long-group {
  min-width: 160px;
}

.player-volume .slider-selection {
	background: #fff;
}

.player-volume .slider-track-high {
	background: #E01D18;
}

.player-col {
  padding: 0px;
}

.player-cell {
  vertical-align: middle !important;
  background-color: transparent;
}